main {
    padding-top: 5em;
    text-align: center;
    background-color: rgb(31, 31, 31);
    margin: auto;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
body {
    background-color: rgb(31, 31, 31);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: lightgray;
}
@key_blank fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


img {
    width: 4em;
    background-color: rgb(68, 68, 68);
    animation: pulse 5s infinite;
    transition: transform 0.1s ease-in-out;
    border: 0.35em solid rgb(54, 54, 54);
    border-radius: 10em;
    position:relative;
}

img:hover {
    transform: scale(1.1);
}
.copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: .08em;
}
.buttons {
    background-color: #333;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(54, 54, 54);
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 2em;
    padding-bottom: .2em;
}

.top-bar a {
    color: white;
    text-decoration: solid;
    font-size: 1.75em;

}

.top-bar {
    color: #ccc;
}
hr{
    visibility: hidden;
}
figure {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
  }
  
  figcaption {
    font-size: 14px;
    color: #ccc;
    margin-top: 5px;
  }